@import '../../styles/variables';
.button{
   padding: 0 12px;
   background-color: $main-blue;
   color: #fff;
   font-weight: 500;
   height: 36px;
   border-radius: 5px;
   border: none;
   outline: none;
   transition: all .4s;
   &:not(:disabled){
      cursor: pointer;
   }
   &:disabled{
      background-color: $blue-disabled;
      cursor: default;
   }
   &:hover:not(:disabled){
      background-color: $blue-hover;
   }
   &_linear{
      border: 1px solid $main-blue;
      color: $main-blue;
      background-color: #FFFFFF;
      &:hover:not(:disabled){
         color: #FFFFFF;
         background-color: $main-blue;
      }
   }
   &_red{
      background-color: $main-red;
      &:hover:not(:disabled){
         background-color: $red-hover;
      }
   }
   &_line-red{
      border: 1px solid $main-red;
      color: $main-red;
      background-color: #FFFFFF;
      &:hover:not(:disabled){
         color: #FFFFFF;
         background-color: $main-red;
      }
   }
}