@import '../../styles/variables';
.modal-add-file{
   .disabled{
      display: none;
   }
   &__content{
      width: 275px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 45px 50px;
   }
   &__arrow{
      width: 68px;
      height: 68px;
      margin-bottom: 14px;
      svg{
         width: 100%;
         height: 100%;
      }
   }
   &__title{
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 8px;
   }
   &__descr{
      font-size: 13px;
      line-height: 16px;
      color: rgba($color: $main-color, $alpha: 0.4);
   }
   &__btn{
      width: 155px;
      color: $main-blue;
   }
   &__upload{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      
   }
   &__photo{
      width: 175px;
      height: 175px;
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 30px;
      border: 1px solid #BEBEBE;
      position: relative;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      button{
         position: absolute;
         bottom: 0;
         left: 50%;
         width: 100%;
         height: 40px;
         background-color: rgba($color: $main-color, $alpha: 0.7);
         transform: translateX(-50%);
         color: #FFFFFF;
         font-size: 14px;
         font-weight: 600;
         opacity: 0;
         visibility: hidden;
         transition: opacity .4s, visibility .4s;
      }
      &:hover button{
         opacity: 1;
         visibility: visible;
      }
   }
   &__save{
      margin-top: 16px;
      width: 155px;
   }
   form{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
.modal_respond{
   &__date{
      input:first-child{
         margin-right: 16px;
         width: 140px;
      }
      input:last-child{
         width: 54px;
      }
   }
   &__tags-input{
      input{
         margin-right: 16px;
      }
   }
   &__tag-btn{
      background-color: $main-blue;
      border-radius: 5px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
         width: 16px;
         height: 16px;
      }
   }
   &__tags{
      // margin-top: 8px;
      display: flex;
      flex-wrap: wrap;
      li{
         margin-right: 8px;
         margin-top: 8px;
      }
      .tag {
         white-space: nowrap;
      }
   }
}
.modal-change-password{
   &__content{
      width: 350px;
   }
}
.modal-share-shedule{
   &__content{
      width: 350px;
   }
}
.modal-new-project{
   &__data{
      width: 558px;
   }
   &__schedule{
      width: 705px;
   }
   &__ready{
      width: 460px;
   }
   &__address{
      justify-content: space-between;
      input{
         width: 300px;
      }
      & > button{
         width: 185px;
         height: 38px;
      }
   }
   &__link{
      align-items: center;
      span{
         margin: 0;
         font-size: 13px;
         line-height: 16px;
         margin-right: 8px;
      }
   }
   &__schedule-calendar{
      margin-bottom: 32px;
   }
   &__top{
      display: flex;
      justify-content: space-between;
      position: relative;
   }
   &__copy-schedule{
      top: 36px;
      right: 0;
   }
   &__project-link{
      display: block;
      margin-bottom: 32px;
      color: $main-color;
      transition: all .3s;
      &:hover{
         color: $main-blue;
      }
   }
   &__project-name{
      margin-bottom: 16px;
      span{
         font-size: inherit;
         color: $main-blue;
      }
   }
   &__google-import{
      white-space: nowrap;
      top: 48px;
      right: -24px;
   }
   &__period{
      margin-bottom: 32px;
   }
   &__period-content{
      display: flex;
      justify-content: space-between;
   }
   &__period-time{
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      position: relative;
      button{
         margin: 0 5px;
         color: $main-blue;
         &:hover{
            color: $blue-hover;
         }
         &:disabled{
            cursor: default;
            color: rgba($main-blue, 0.5);
         }
      }
   }
   &__calendar{
      display: none;
      position: absolute;
      bottom: 22px;
      left: 0;
      width: 225px !important;
      margin: 0;
   }
   &__calendar.active{
      display: block;
   }
   &__duration{
      width: 60% !important;
      margin-top: 8px;
   }
   &__loader{
      display: flex;
      justify-content: center;
   }
}
.modal-customer-schedule{
   .modal__content{
      display: none;
   }
   &__content_1{
      width: 460px;
   }
   &__content_3{
      width: 706px;
   }
   &__top{
      display: flex;
      justify-content: space-between;
      position: relative;
   }
   &__title{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 12px;
   }
   &__radio{
      margin-bottom: 24px;
   }
   &__other{
      input{
         margin-left: 8px;
      }
   }
   &__descr{
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 24px;
   }
   &__calendar{
      margin-bottom: 32px;
   }
   &__project-link{
      display: block;
      margin-bottom: 32px;
      color: $main-color;
      font-weight: 500;
      transition: all .3s;
      &:hover{
         color: $main-blue;
      }
   }
   &__project-name{
      margin-bottom: 16px;
      span{
         font-size: inherit;
         color: $main-blue;
      }
   }
   .modal__ready{
      display: flex;
      align-items: center;
      &:hover{
         color: #FFFFFF;
      }
      
   }
}
.modal-set-time{
   &__content{
      width: 350px;
   }
   &__title{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
   }
   &__intervals{
      margin-bottom: 16px;
   }
   &__interval{
      display: flex;
      align-items: center;
      &:not(:last-child){
         margin-bottom: 8px;
      }
      span{
         font-weight: 500;
         font-size: 13px;
         line-height: 16px;
         margin-right: 8px;
      }
      input{
         width: 70px;
         margin-right: 24px;
      }
   }
   &__add-btns{
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      button{
         padding: 0 16px;
      }
   }
   &__apply-btns{
      display: flex;
      // justify-content: space-between;
      justify-content: flex-end;
      button{
         padding: 0 16px;
      }
   }
   &__delete{
      background-color: rgba($dark-grey, 0.2);
      display: flex;
      align-items: center;
      border-radius: 100%;
      transition: background-color .4s;
      svg{
         fill: white;
      }
      &:hover{
         background-color: rgba($dark-grey, 0.4);
      }
   }
   &__radio{
      margin-bottom: 32px;
      label:not(:last-child){
         margin-bottom: 8px;
      }
   }
   &__weekdays{
      margin-bottom: 16px;
   }
   &__weekdays-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      label{
         // width: 50%;
         height: 24px;
         margin-bottom: 12px;
      }
   }
}