.moder-calendar{
   padding: 70px 40px;
   min-width: 630px;
   width: 730px;
   border-right: 1px solid #979797;
   position: relative;
   &__btn{
      width: 225px;
      position: absolute;
      bottom: 60px;
      right: 40px;
   }
   .calendar{
      &__date:not(.calendar__prev-date):not(.calendar__next-date){
         padding-top: 1px;
      }
   }
}