@import '../../styles/variables';
.calendar_create-schedule{
   .calendar__selected{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba($main-blue, 0.1);
      border-color: rgba($main-blue, 0.1);
      padding-top: 2px;
      div{
         font-size: 11px;
         color: rgba($dark-grey, 0.7);
      }
      span{
         pointer-events: none;
      }
   }
   .calendar__selected-prev{
      background-color: rgba($main-grey, 0.3);
      border-color: rgba($main-grey, 0.3);
   }
   .calendar__selected.active{
      background-color: $main-blue;
      color: #FFFFFF;
   }
}