@import '../../styles/variables';
.log-reg-forms{
   &__container{
      background: #FFFFFF;
      border: 1px solid $main-grey;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
      width: 600px;
      margin: 0 auto;
      margin-top: 48px;
   }
   .form{
      display: none;
      // display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px;
      &__error-message{
         width: 305px;
      }
      form{
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &__title{
         font-weight: 600;
         font-size: 25px;
         line-height: 30px;
         color: $main-color;
         margin-bottom: 38px;
      }
      &__label{
         width: 305px;
         margin-bottom: 24px;
      }
      &__btn{
         padding: 0 20px;
         margin: 0 auto;
         margin-bottom: 24px;
      }
      &__bottom{
         margin: 0;
         a{
            color: $main-blue;
            &:hover{
               color: $blue-hover;
            }
         }
      }
      &__password{
         position: relative;
         margin-bottom: 16px;
      }
      &__eye{
         width: 18px;
         height: 18px;
         position: absolute;
         top: 47px;
         right: 12px;
         transform: translateY(-50%);
         background-color: transparent;
         background-image: url('../../resources/icons/eye.svg');
         background-size: cover;
         background-repeat: no-repeat;
      }
      &__eye.active{
         background-image: url('../../resources/icons/eye-slash.svg');
      }
      &__change-btn{
         color: $main-blue;
         transition: .4s;
         margin-left: 8px;
         &:hover{
            color: $blue-hover;
         }
      }
   }
   .form.active{
      display: flex;
   }
}