@import '../../styles/variables';
.respondDb{
   padding: $ptb-sections 50px $ptb-sections 40px;
   flex: 1 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
   min-width: 700px;
   overflow: auto;
   position: relative;
   &::-webkit-scrollbar {
      width: 0;//ширина scrollbar
   }
   &__table{
      position: relative;
      min-height: 47px;
      // height: 47px;
      max-height: 708px;
      overflow: auto;
      // flex: 1 1 auto;
   }
   &__table::-webkit-scrollbar {
      width: 12px;//ширина scrollbar
   }
   &__table::-webkit-scrollbar-track {
      background: $main-grey;//дорожка
   }
   &__table::-webkit-scrollbar-thumb {
      background-color: $main-blue;//цвет плашка
      border-radius: 4px;
   }
   &__btns{
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;
      button{
         &:first-child{
            margin-right: 22px;
         }
      }
   }
   &__add-btn{
      padding-right: 37px !important;
      position: relative;
      &::after{
         content: '';
         width: 14px;
         height: 14px;
         background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0C7.5523 0 8 0.44772 8 1V6H13C13.5523 6 14 6.4477 14 7C14 7.5523 13.5523 8 13 8H8V13C8 13.5523 7.5523 14 7 14C6.4477 14 6 13.5523 6 13V8H1C0.44772 8 0 7.5523 0 7C0 6.4477 0.44771 6 1 6H6V1C6 0.44772 6.4477 0 7 0Z' fill='white'/%3E%3C/svg%3E%0A");
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 13px;
      }
   }
   &__respondent-options{
      // top: calc(47px * 2);
      right: calc(50px + 15px);
   }
   &__invite-to-proj{
      top: 0;
      right: 190px;
      white-space: nowrap;
   }
   &__btns-popup{
      top: -100px;
      right: 0;
   }
   &__message{
      display: none;
      margin-top: 24px;
      text-align: center;
      font-size: 24px;
      color: #c5c5c5;
   }
   &__message.show{
      display: block;
   }
   &__loader{
      display: flex;
      justify-content: center;
      // margin-top: 90px;
      .loader{
         transform: scale(1.8);
      }
   }
}

.more-functions {
   width: 24px;
   height: 24px;
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   svg{
      fill: $main-grey;
      pointer-events: none;
   }
   &:hover svg{
      fill: rgba($color: #2C2C2C, $alpha: 0.4);
   }
}
.more-functions.active {
   svg{
      fill: $main-blue;
   }
}

.table{
   width: 100%;
   border-radius: 5px;
   border: 1px solid $main-grey;
   position: relative;
   &__content{
      border-top: 1px solid $main-grey;
   }
   &__row, &__title{
      display: grid;  
      align-items: center;
      //30px для чекбокса, 135 для ФИО
      grid-template-columns: minmax(150px, 1fr) 26px 54px minmax(88px, 140px) 125px minmax(110px, 143px) 115px minmax(135px, 1fr) 39px;
      height: 47px;
      column-gap: 21px;
      background-color: #FFFFFF;
      
      & > div:not(.popup1){
         box-sizing: content-box;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow-x: hidden;
         &:nth-child(1){
            padding-left: 21px;//для чекбокса 14px
         }
         &:last-child{
            padding-right: 14px;
         }
      }
   }
   &__title{
      & > div{
         font-weight: 600;
      }
   }
   &__row:not(:last-child){
      border-bottom: 1px solid $main-grey;
   }
   &__row:last-child:not(:first-child){
      .popup1{
         top: auto; 
         bottom: 28px;
      }
   }
}